*{
    margin: 0;
    padding : 0;
    box-sizing:border-box;
    font-family:'Arial',sans-serif;
}
body{
    background-color:#f9f9f9;
    color:#333;
    line-height: 1.6;
}
nav{
    dispaly:flex;
    justify-content: space-between;
    align-items: center;
    background:#2c3e50;
    color:white;
    padding:15px 8%;
    position:sticky;
    top:0;
    z-index: 100;
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li a {
    color:white;
    text-decoration: none;
    margin-left:20px;
    font-weight:bold;
}
header{
    height:50vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://image.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1000&q=80');
    background-size:cover;
    background-position: center;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;

}
section{
    padding:60px 10%;
}
h2{
    text-align:center;
    margin-buttom:40px;
    border-bottom:2px solid #2c3e50;
    display: inline-block;
    width:100%;
    padding-bottom: 10px;
}
 .education-card{
    background:white;
    padding:30px;
    border-radius:10px;
    border-left:8px solid #2ecc71;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
 }
 .skills-container span{
    background:#2c3e50;
    color:white;
    padding:10px 20px;
    border-radius:50px;
    margin:5px;
    display:inline-block;
 }
 .project-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
 }
 .project-card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:transform 0.3s;
 }
 .project-card:hover{
    transform:translateY(-10px);
 }
 .contact-box{
    max-width:600px;
    margin:0 auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 }
 input,textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:5px;
 }
 button{
    background:#2c3e50;
    color:white;
    width:100%;
    padding:12px;
    border:none;
    cursor:pointer;
    font-size:16px;
    border-radius:5px;
 }
 button:hover{
    background:#34495e;
 }
 footer{
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:20px;
 }
 @media (max-width:768px){
    nav ul{
        display:none;
    }
    section{
        padding:40px 5%;
    }
    body{
      background-color:#0f172a !important;
      color:#e2e8f0
    }
 }